fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pandas
numpy
pydantic
pydantic-settings
loguru
langchain
langchain-openai
langchain-core
requests
httpx[http2]
aiofiles
pytz
content-size-limit-asgi