fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pandas
numpy
pydantic
pydantic-settings
loguru
langchain
langchain-openai
langchain-core
requests
pytz